@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
  --primary-color: #1A237E;
  --secondary-color: #64B5F6;
  --font-color: #333333;
  --soft-color: #F5F5F5;
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Architects Daughter', cursive;
}

html, body, #root {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--soft-color);
}
